<%- include('header') %>
<section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="../assests/childrenStudying.jpg" alt=""></div>
            <div class="carousel-container homeText">
              <div class="carousel-content intro-text">
                <h2>Do you have a <span style="color:#18d26e">BOOK</span> that you don't use anymore?</h2>
                  <h4>Why not DONATE it</h4>
                <p>We connect people who have educational resources to people who are in dear nee of it. Donate today to improve education</p>
                <a href="/DonateBook" class="btn-get-started scrollto">Donate for Change</a>
              </div>
            </div>
          </div>
          </div>
        </div>
     </div>
    </section>
<section id="AboutUs">
    <h2 id="AboutUsTitle">About Us</h2>
</section>
<section id="howItWorks">
    <h2 id="HIWtitle">How it Works</h2>
    <div id="HIWcontents">
        <div id="HIW1" class="HIWsec">
        
        </div>
        <div id="HIW2" class="HIWsec">
        
        </div>
        <div id="HIW3" class="HIWsec">
        
        </div>
    </div>

</section>
<%- include('footer') %>