<%- include('header') %>
<style>
    h1{
        text-align:center;
        margin-top:100px;
    }
.form-signin, .form-register{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.hidden{
      display:none;
    }
    .reg{
        margin-top:10px;
    }
    .checkUser{
       margin-top:30px; 
    }
    
</style>

  <form class="form-signin" id="signin">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkUser mb-3">
      <a href="#forgetPassword">Oh no my Password? Get it here</a>
  </div>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div class="checkUser mb-3">
      <a href="#registerForm" id="showReg">New Here? Register</a>
  </div>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
<form class="form-register hidden" id="registerForm">
  <h1 class="h3 mb-3 font-weight-normal">Register to Donate a Book</h1>
  <label for="yourName" class="sr-only">Your Name</label>
  <input type="text" id="yourName" class="form-control reg" placeholder="Your Name" required autofocus>
  <label for="regEmail" class="sr-only">Email address</label>
  <input type="email" id="regEmail" class="form-control reg" placeholder="Email address" required> 
  <label for="Password" class="sr-only">Password</label>
  <input type="password" id="Password" class="form-control reg" placeholder="Password" required>
  <label for="confirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="confirmPassword" class="form-control reg" placeholder="Confirm Password" required>
 
    <button class="btn btn-lg btn-primary btn-block reg" type="submit">Register</button>  
    <div class="checkUser mb-3">
      <a href="#signin" id="showSignIn">Already Registered? Sign In</a>
  </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>

<%- include('footer') %>